
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
   <!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 5"></button>      
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 6"></button>
    </div>-->
    <div  class="carousel-inner">
      <div class="carousel-item active foto">
        <img src="../view/images/mens-accessories-luggage.jpg" class="d-block w-100" alt="mens-accessories-luggage">
      </div>
      <div class="carousel-item foto">
        <img src="../view/images/mens-accessories-ties.png" class="d-block w-100" alt="mens-accessories-ties">
      </div>
      <div class="carousel-item foto">
        <img src="../view/images/mens-clothing-dress-shirts.jpg" class="d-block w-100" alt="mens-clothing-dress-shirts">
      </div>
      <div class="carousel-item foto">
        <img src="../view/images/mens-clothing-sportscoats.png" class="d-block w-100" alt="mens-clothing-sportscoats">
      </div>
      <div class="carousel-item foto">
        <img src="../view/images/womens-accessories.jpg" class="d-block w-100" alt="womens-accessories">
      </div>
      <div class="carousel-item foto">
        <img src="../view/images/womens-clothing.jpg" class="d-block w-100" alt="womens-clothing">
      </div>

    </div>
    <button  id = "btn1-carousel" class="carousel-control-prev bg-dark" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button  id = "btn2-carousel" class="carousel-control-next bg-dark" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  