

<nav id="nav-bar" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
      <a id="logo" class="navbar-brand btn" aria-current="page" href="#">Alibazon Shop</a>
      
      <button id="tel" class="navbar-toggler bg-dark nav-item" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-haspopup="true" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-dark nav-item"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul id = "coco" class="navbar-nav me-auto mb-2 mb-lg-0 position-absolute top-50 start-50 translate-middle">
          <li class="nav-item drop navbar-dark bg-dark">
            <a class="nav-link dropdown-toggle btn position-relative" href="#" id="navbarDropdownWomens" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Womens
            </a>
            <ul id="toAddWomens" class="dropdown-menu btn bg-dark nav-item" aria-labelledby="navbarDropdown">
              <li><a id="womens-clothing" class="dropdown-item nav-link" href="#">Womens clothing</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a id="womens-accessories" class="dropdown-item nav-link" href="#">Womens accessories</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a id="womens-jewelry" class="dropdown-item nav-link" href="#">Womens jewelry</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn" href="#" id="navbarDropdownMens" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mens
            </a>
            <ul id="toAddMens" class="dropdown-menu btn bg-dark" aria-labelledby="navbarDropdown">             
                <li><a id="mens-clothing" class="dropdown-item btn nav-link" href="#">Mens clothing</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a id="mens-accessories" class="dropdown-item btn nav-link" href="#">Mens accessories</a></li>              
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link btn"   id="cart-link" type="button" href="#">Cart</a>
          </li>
          <li class="nav-item">
            <a id="login-link" class="login-link nav-link px-5 btn" type="button" aria-pressed="true" href="#">Log in / Sign up</a>
          </li>
        </ul>
        <form class="d-flex position-absolute top-50 end-0 translate-middle-y px-2">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success nav-link" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

